// Common Css

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: fit-content;
}

html{
    scroll-behavior: smooth;
}


.container-fluid{
    max-width: 1800px;
    margin:  auto;
}

// Fonts

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
    line-height: 65px;
    font-weight: 500;
}


h2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    line-height: 57px;
    font-weight: 500;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 500;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    line-height: 40px;
    font-weight: 500;
}

h5{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 32px;
    font-weight: 500;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.root{
    overflow-x: hidden;
}

// Navbar

nav{
    position: relative;
    background-color: white;
    height: fit-content;
    width: 100%;
    z-index: 1;
    transition: 1s ease-in all;

    .navbar-brand{
        width: 150px;
    }
    
    .container-fluid{
        .navbar-brand{
            padding: 20px 0;
        }
        .bar{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            right: 30px;
            cursor: pointer;
            span{
                content: "";
                background-color: black;
                display: inline-block;
                width: 30px;
                height: 2px;
                top: 0;
                left: 0;
                margin-bottom: 5px;
                
            }

            
            
        }
        
    }
    .nav-item{
        
        background-color: black;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        transform: translatey(-200%);
        transition: 1s ease-in-out all;
        z-index: 11111111;
    .left{
            img{

            height: 100vh;
            width: 100%;
            object-fit: cover;

            }
       
        }

        ul{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            li{
                list-style: none;
                margin-bottom: 20px ;
                
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 40px;
                    line-height: 55px;
                    font-weight: 500;
                    display: inline-block;
                    position: relative;
    

                    
                }
                
                :hover{
                    border-bottom: 2px solid white;
                }
            }
        }
        i{
            font-size: 30px;
            color: white;
            position: absolute;
            right: 35px;
            top: 25px;
            cursor: pointer;
        }
    }

    .show{
        transform: translatey(0%);
    }

  

}

.sticky{
    position: fixed;
    top: 0;
    
}

// Scroll To TOp
.scrollToTop{
    opacity: 0;
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 111;
    .scroll{
        
        text-align: center;
        display: inline-block;
        a{
            text-decoration: none;
            cursor: pointer;
            p{
                color: black;
                line-height: 16px;
                font-size: 10px;
                padding: 24px 20px;
                background: #fcf898;;
                border-radius: 50%;
                transition: .4s ease all;

                &:hover{
                    background-color: #fed7e1;
                }
            }
            
        }
    }

   
}

.showScrollToTop{
    opacity: 1;
}

header{
    
    .hero{
        
        z-index: -1;
        .vid{
            video{
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }
        }
       .right{
           height: 100vh;
           display: flex;
           flex-direction:column;
           justify-content: center;
           align-items: center;
           padding: 0 30px 0 70px;
        h1{
            margin-bottom: 40px;
            span{
                color: #FED7E1;
            }
        }

        p {
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            margin-bottom: 50px;
        }
        a{
            text-decoration: none;
            color: white;
            background: black;
            padding: 20px 42px;
            font-size: 11px;
            border-radius: 50px;
            line-height: 40px;
            font-weight: 500;
            cursor: pointer;
        }
       }
    }

   
}

// Section 1
.collections{
    background: #FDD2E3;
    margin-top: -12px;
    .team{
        background: #FDD2E3;
        width: 100%;
        height: fit-content;
        
        padding: 140px 0 20px 0;
        img{
            padding-bottom: 50px;
        }
        .container{
            display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
            .title{
                h3{
                    text-align: center;
                    line-height: 46px;
                    margin-bottom: 30px;
                }
    
                a{
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    color: black;
                    font-size: 12px;
                    
                    span{
                        margin-left: 5px;
                    }
                }
            }
        }
        
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            text-decoration: none;
            color: black;
            .img-container{
                padding: 0;
                overflow: hidden;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    transition: .4s all ease;
        
        
                    
                    ::before{
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: rgba(254, 215, 225, 1);
                        top: 0;
                        left: 0;
                        position: absolute;
                    }
                }
        
                
        
                &:hover{
                    img{
                        scale: 1.1;
                    }
                    .titlef{
                        display: block;
                    }
                }
        
                
        
        
                .titlef{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    background: white;
                    padding: 8px 20px;
                    display: none;
                    transition: .4s ease all;
        
                }
            }
        }
    }
    

   

   
}


//brads 

.brand{
    padding: 80px 0;
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
       
    
    }
}

// section3

.section-3{
    img{
        height: 98vh;
        width: 100%;
        object-fit: cover;
    }
    .text{
        
        background: black;
        color: white;
        height: 100%;
        padding: 0 30px;

        .container{
            padding: 100px 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2{
                margin-bottom: 40px;
            }
            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 11px;
                background: white;
                border-radius: 50px;
                line-height: 40px;
                font-weight: 500;
                cursor: pointer;
                padding: 20px 42px;
               
            }
        }
    }
}

// section4

.section-4{
    img{
        height: 98vh;
        width: 100%;
        object-fit: cover;
    }
    .text{
        
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        height: 100%;
        padding: 0 30px;


        .container{
            padding: 100px 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2{
               
                margin-bottom: 50px;
            }
            span{
                color: rgba(254, 215, 225, 1);
            }
            
        }

        .ques{
            margin-bottom: 50px;
            p{
                margin-top: 15px;
            }
        }
    }
}

//Portfolio
.portfolio{
    
    .head{
        overflow: hidden;
       
        img{
            width: 100%;
            height: 100%;
            transition: .4s ease all;
            &:hover{
                scale: 1.1;
                
            }
        }
    }

        .blog1{
            background-color: #FED7E1;
            text-align: center;
            padding: 40px 0;
         
            h3{
                margin-bottom: 25px;
                
                &:hover{
                    text-decoration: underline;
                }
            }

            p{
                margin-bottom: 50px;
            }

            a{
                font-size: 12px;
                text-decoration: none;
                color: black;
               
            }
        }

        .blog2{
            background-color: #000;
            text-align: center;
            padding: 40px 0;
            color: #fff;
            
            h3{
                margin-bottom: 25px;
                &:hover{
                    text-decoration: underline;
                }
                
            }

            p{
                margin-bottom: 50px;
            }

            a{
                font-size: 12px;
                text-decoration: none;
                color: #fff;
               
            }
        }
        .blog3{
            background-color: rgb(255, 255, 255);
            text-align: center;
            padding: 40px 0;
            color: rgb(0, 0, 0);
            h3{
                margin-bottom: 25px;
                &:hover{
                    text-decoration: underline;
                }
                
            }

            p{
                margin-bottom: 50px;
            }

            a{
                font-size: 12px;
                text-decoration: none;
                color: rgb(0, 0, 0);
               
            }
        }

        .h3{
            text-decoration: underline;
            font-size: 38px;
        }
}

//Video

.video{
    .vid{
        background: url(/utilitis/video-bg.jpg);
        width: 100%;
        height: 570px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
       
        &:hover{
            i{
                scale: 1;
            }
        }
        i{
            font-size: 30px;
            background: white;
            padding: 34px 35px;
            border-radius: 50%;
            cursor: pointer;
            scale: 1.1;
            transition: .4s ease all;        
        }
    }   
}

//footer 
footer{
    background: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 20px 20px 0;

    h2{
        color: white;
        margin-bottom: 60px;
    }
    a{
        color: black;
        background: white;
        font-size: 11px;
        padding: 20px 45px;
        border-radius: 50px;
        text-decoration: none;
        margin-bottom: 50px;
        &:hover{
            text-decoration: none;
            color: black;
        }

    }

    img{
        width: 100px;
    }

    .social{
        margin-top: 40px;
        margin-bottom: 20px;
        a{
            background: none;
            color: rgb(255, 255, 255);
            font-size: 15px;
            margin: 0;
            transition: .4s ease all;
            &:hover{
                color: rgb(189, 189, 189);
            }
           
        }
    }

    p{
        color: rgb(189, 189, 189);

        span{
            color: #fff;
        }
    }


}



// Medium devices (tablets, 768px and up)
@media (max-width: 991px) { 
    nav{
        background-color: rgb(255, 255, 255);
        height: fit-content;
        width: 100%;
        z-index: 111;
        .nav-item{
            transform: translatex(-200%);
            .left{
                display: none;
            }
            
        }

        .show{
            transform: translatex(0%);
        }
    }
    header{
       

        .hero{
            top: 50px;
            
            .right{
                padding: 0;
                height: fit-content;
                padding: 69px 0;
            }

        }

    
        
    }
}


